<?xml version="1.0"?>

<model>
  <name>Pioneer 2DX with cam and lidar</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sascha Clausen</name>
    <email>sascha.clausen@outlook.com</email>
  </author>

  <description>
    A model of the pioneer 2 dx robot with attached camera and lidar sensor.
  </description>

  <depend>
  </depend>
</model>
