<?xml version="1.0"?>

<model>
  <name>CustomCamera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sascha Clausen</name>
    <email>sascha.clausen@outlook.com</email>
  </author>

  <description>
    A simple camera with a box for visualization.
  </description>
</model>
